*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 1000px;

}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.6s;
}
header.sticky{
    padding: 5px 100px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

header .logo {
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}
header ul li a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 2em;
    transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a
{
    color: #000;
}
#one {
    width: 100%;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./images/flower1.jpg');
    background-size: cover;

}
#index .main_text {
    position: relative;
    min-width: 300px;
    max-width: 500px;
    border: none;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.5);
    box-sizing: border-box;
}
#index .main_text h2 {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    line-height: 1.5;
    padding: 0 0.8em;
    margin-bottom: 30px;
}
#index .main_text p {
    font-size: 14px;
    margin: 0 0 20px;
    padding: 0 1.5em;
    box-sizing: border-box;
    color: #fff;
}
#index #two {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}
#index #two .menu {
    position: relative;
    border: 1px solid red;
    width: 300px;
    height: 300px;
}
#index #two .menu img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
#index #two .menu .detail {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}
#index #two .menu:hover .detail {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
}
#index #three .intro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1.5fr);
    grid-gap: 30px;
}
#index #three .intro div {
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    background: #ffffff;
    background-color: #f2f2f2;
}
#index #three .intro div p {
    padding: 8px;
    margin-bottom: 6px;
    line-height: 20px;
}
#index #four .customer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(200px, auto);
    grid-gap: 8px;
}
#index #four .customer div {
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    background: #ffffff;
    background-color: #f2f2f2;
}
#index #four .customer div span i {
    margin-top: 20px;
    font-size: 25px;
    color: #111;
}
#index .box_text h3 {
    position: relative;
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 800;
    padding: 6px;
}
#index .box_text h3::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    position: absolute;
    left: 38.7%;
    bottom: -2px;
    background: #111;
}

#index .box_text p {
    padding: 6px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 13px;
    line-height: 40px;
    color: #505050;
}


/*footer*/
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.6s;
}
footer.sticky{
    padding: 5px 100px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

footer .logo {
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li{
    list-style: none;
}
footer ul li a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 2em;
    transition: 0.6s;
}

footer.sticky .logo,
footer.sticky ul li a
{
    color: #000;
}

.sec{
    background-color: sandybrown;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 992px){
    .toggle{
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .toggle:before{
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }
    .toggle:after{
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        transition: 0.5s;
    }
    header,
    header.sticky
    {
        padding: 5px 50px;
        background: #fff;
    }
    header ul{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #fff;
        visibility: hidden;
        opacity: 0;
    }
    header.active ul{
        visibility: visible;
        opacity: 1;
        display: block;
        padding-top: 20px;
    }
    header.active ul li a{
        display: inline-block;
        margin: 10px 0;
        font-size: 20px;
    }
    
    header .logo,
    header ul li a{
        color: #000;
    }
    footer,
    footer.sticky
    {
        padding: 5px 50px;
        background: #fff;
    }
    footer ul{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #fff;
        visibility: hidden;
        opacity: 0;
    }
    footer.active ul{
        visibility: visible;
        opacity: 1;
        display: block;
        padding-top: 20px;
    }
    footer.active ul li a{
        display: inline-block;
        margin: 10px 0;
        font-size: 20px;
    }
    
    footer .logo,
    footer ul li a{
        color: #000;
    }
}