  /* 초기화 */
  * {
    margin: 0;
    padding: 0;
    font: normal 12px 'Noto Sans KR', sans-serif;
}

ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}

#wrapper {
    width: 100%;            
}

/* 헤더영역 */
header {
    width: 100%;
    height: 197px;
}

header > div {
    width: 100%;            
    box-sizing: border-box;
}
header > .top {
    height: 35px;
    border-bottom: 1px solid #e9e9e9;
}
header > .top > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;            
    text-align: right;
}

header > .top > div > a {
    display: inline-block;
    height: 100%;
    line-height: 35px;
    border-left: 1px solid #e9e9e9;
    padding: 0 10px;
    color: #646464;
}
header > .top > div > a:last-child {
    border-right: 1px solid #e9e9e9;
}

header > .top > div > a:hover {
    color: #333;
    border-bottom: 1px solid #444;
}

header > .logo {
    height: 115px;
    border-bottom: 1px solid #e9e9e9;
}
header > .logo > div {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
header > .logo > div > a {
    display: inline-block;
    margin-top: 30px;
}
header > .logo > div > form {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -185px;
    margin-top: -22px;
    display: inline-block;
    width: 370px;
    height: 45px;            
}
header > .logo > div > form > input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 30px;
    box-sizing: border-box;
}

header > .logo > div > form > button {
    position: absolute;
    right: 6px;
    top: 10px;
    background: #fff;
    border: none;
    font-size: 20px;
    color: #333;
    outline:none;
}    

header > .menu {
    height: 46px;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}
header > .menu > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

header > .menu > div > ul {
    display: inline-block;
    margin-top: 16px;
}        
header > .menu > div > ul:nth-child(1) {float: left;}
header > .menu > div > ul:nth-child(2) {float: right;}
header > .menu > div > ul > li {float: left;}
header > .menu > div > ul > li > a {
    border-left: 1px solid #e9e9e9;
    padding: 0 10px;
}
header > .menu > div > ul > li:last-child > a {
    border-right: 1px solid #e9e9e9;
}


/* 메인영역 */
main {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
/* 왼쪽 카테고리 메뉴 */
main > aside {
    float: left;
    width: 215px;
    height: 100%;
}
main > aside > .category {
    position: relative;
    width: 100%;
    height: 425px;
    background: #333949;
}
main > aside > .category > li {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    line-height: 40px;
    color: #ccc;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #2b313f;
    box-sizing: border-box;
}
main > aside > .category > li > a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: #ccc;
    font-size: 13px;
    font-weight: bold;
}
main > aside > .category > li > a:hover{
    background: #2b313f;
    color: #fff;
}
/* 마우스를 올리는 카테고리 메뉴의 서브메뉴 출현 */
main > aside > .category > li > a:hover + ol{
    display: block;
}
/* 서브메뉴에 마우스가 올라가면 계속 노출 */
main > aside > .category ol:hover{
    display: block;
}
main > aside > .category > li i {
    font-size: 16px;
    margin-right: 12px;
}
main > aside > .category ol {
    position: absolute;
    left: 215px;
    top: 0;
    display: none;
    width: 215px;
    height: 100%;
    border: 1px solid #787f89;
    background: #fff;
    box-sizing: border-box;
    z-index: 10000;
}

main > aside > .category ol > li {
    width: 100%;
    height: 24px;
    padding: 10px;
    box-sizing: border-box;
}
main > aside > .category ol > li > a:hover {
    color: #41ab47;
    text-decoration: underline;
}
/* 메인 첫 번째 섹션 */
main > section {
    float: right;
    width: 985px;
    height: auto;
    font-family: 'Noto Sans KR', sans-serif;
}
main > section > section {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
}
main > section > section > article {
    float: left;
    width: 25%;
    height: 345px;
}
main > section > section > h3 > span {
    display: inline-block;
    margin: 6px;
    border-bottom: 2px solid #111;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}
main > section > section > article > a {
    width: 100%;
    height: 100%;
    display: block;
}
main > section > .slider {
    width: 100%;
    height: 425px;
    overflow: hidden;
}
main > section > .slider > .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: #fff;
}
main > section > .hit {}
main > section > .hit > article .thumb {
    overflow: hidden;
}
main > section > .hit > article > a:hover > p {text-decoration: underline;}
main > section > .hit > article > a > h2 {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
main > section > .hit > article > a > p {
    margin-bottom: 5px;
    text-align: center;
}
main > section > .hit > article > a > .og_price {
    margin-left: 14px;
    margin-bottom: 5px;    
}
main > section > .hit > article > a > .og_price > del {
    font-family: 'Noto Sans KR', sans-serif;
    color: #787f89;
}
main > section > .hit > article > a > .og_price > span {
    color: #eb000a;
}
main > section > .hit > article > a > .dis_price {
    margin-left: 14px;
}
main > section > .hit > article > a > .dis_price > ins {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
}
main > section > .hit > article > a > .dis_price > span {
    display: inline-block;
    font-size: 0;
    vertical-align: text-bottom;
    width: 55px;
    height: 13px;
    background: url('../img/ico_freeshipping.gif') no-repeat;
}
main > section > .recommend {}
main > section > .new {}
main > section > .discount {}

  /* 베스트 배너 */
  aside > .best {
    width: 215px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 0  5px rgba(55, 55, 5, 0.2);
}
aside > .best > h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #111;
    margin: 6px;
}
aside > .best > ol > li {
    width: 100%;
    height: 100%;
    padding: 0 6px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
aside > .best > ol > li > a {
    display: block;
    width: 100%;
    height: 50px;
}
aside > .best > ol > li:first-child > a {
    display: block;
    width: 100%;
    height: 100%;
}
aside > article > ol > li:first-child > a > div.thumb {
    position: relative;
    float: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
aside > article > ol > li> a > div.thumb {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 0 auto;
}
aside > article > ol > li > a > div.thumb > i {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 16px;
    height: 20px;
    font-size: 16px;
    padding: 0;
    color: #ef3e42;
    border-bottom: 1px solid #ef3e42;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    line-height: 18px;
}
aside > article > ol > li > a > div.thumb > img {
    width: 100%;
}
aside > article > ol > li > a h2 {
    margin-top: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
aside > article > ol > li > a .og_price > del {
    font-size: 10px;
    color: #aaa;
}
aside > article > ol > li > a .og_price > span {
    font-size: 10px;
    color: #eb000a;
}
aside > article > ol > li > a .dis_price > ins {
    font-size: 14px;
    text-decoration: none;
}

/* 리스트 영역 */
#list {
    float: right;
    width: 985px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
#list > nav {
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
#list > nav > h1 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    font-family: 'Noto Sans KR', sans-serif;
}
#list > nav > p  {
    float: right;
    margin-top: -10px;
}
#list > nav > p > span {}
#list > nav > p > strong {
    font-weight: bold;
}
#list > .sort {
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
}
#list > .sort > li {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: 1px solid #ddd;
}
#list > .sort > li > a {
    margin-right: 10px;
}
#list > section {}
#list > section > article {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ececec;
}
#list > section > article > ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#list > section > article > ul > li {
    float: left;
    height: 100%;
}
#list > section > article > ul > li:nth-child(1) {}
#list > section > article > ul > li:nth-child(1) > a {
    display: block;
    margin-top: 10px;
}
#list > section > article > ul > li:nth-child(2) {
    margin-top: 35px;
    margin-right: 20px;
}
#list > section > article > ul > li:nth-child(2) > h3 {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}
#list > section > article > ul > li:nth-child(2) > p {}
#list > section > article > ul > li:nth-child(2) > p > a:hover {
    text-decoration: underline;
}
#list > section > article > ul > li:nth-child(3) {
    margin-top: 35px;
    margin-left: 10px;
}

#list > section > article > ul > li:nth-child(3) > span {
   display: inline-block;
   font-size: 0;
   vertical-align: text-bottom;
   width: 55px;
   height: 13px;
   background: url('../img/ico_freeshipping.gif') no-repeat;
}
#list > section > article > ul > li:nth-child(3) > .dis_price {
    margin-bottom: 5px;
}
#list > section > article > ul > li:nth-child(3) > .dis_price > ins {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
}
#list > section > article > ul > li:nth-child(3) > .og_price {
    margin-bottom: 5px;
}
#list > section > article > ul > li:nth-child(3) > .og_price > del {
    font-family: 'Noto Sans KR', sans-serif;
    color: #787f89;
}
#list > section > article > ul > li:nth-child(3) > .og_price > span {
    color: #eb000a;
}
#list > section > article > ul > li:nth-child(4) {
    margin-top: 35px;
    margin-left: 70px;
}
#list > section > article > ul > li:nth-child(4) > h4 {
    margin-bottom: 5px;
}
#list > section > article > ul > li:nth-child(4) > h5 {
    margin-bottom: 120px;
}
#list > .paging {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}
#list > .paging > span > a {
    color: #777;
    font-size: 11px;
}
#list > .paging > span > a:hover {text-decoration: underline;}
#list > .paging > .num > a {
  display: inline-block;
  min-width: 14px;
  margin: 0 2px;
  padding: 8px 9px;
  border: 1px solid #c4c4c4;
  color: #000;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
#list > .paging > .num > a:hover {
    border: 1px solid #454c5f;
    text-decoration: none;
}
#list > .paging > .num > a.on {
  color: #fe434c;
  font-weight: bold;
}
#list > .paging > .prev {}
#list > .paging > .prev {}
#list > .paging > .prev {}
#list > .paging > .prev {}

/* 검색 영역 */
#search {
    float: right;
    width: 985px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
#search > nav {
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
#search > nav > h1 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    font-family: 'Noto Sans KR', sans-serif;
}
#search > nav > p  {
    float: right;
    margin-top: -10px;
}
#search > nav > p > span {}
#search > nav > p > strong {
    font-weight: bold;
}
#search > .detail_search {
    width: 100%;
    margin: 16px 0 0;
    border: 1px solid #d7d7d7;  
}
#search > .detail_search > h3 {
    border-bottom: 1px solid #d7d7d7;
    color: #111;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    padding: 10px 15px;
}
#search > .detail_search > h3 > strong {
    font-size: 18px;
    font-weight: bold;
    color: #eb000a;
    margin-right: 6px;
}
#search > .detail_search > h3 > em {
    font-size: 14px;
    color: #888;
}
#search > .detail_search > h3 > em > span {
    color: #eb000a;
}
#search > .detail_search > form {
    border-bottom: 1px solid #d7d7d7;
    padding: 10px 15px;
}
#search > .detail_search > form > input[type=text] {
    height: 30px;
    border: 1px solid #bbb;
    padding: 0 10px;
}
#search > .detail_search > form > input[type=button] {
    height: 32px;
    border: 1px solid #bbb;
    padding: 0 5px;
    background: #eb000a;
    color: #fff;
    border: 0;
}
#search > .detail_search > form > span {
    float: right;
    margin-top: 0px;
}
#search > .detail_search > form > span > label {
    margin-right: 10px;
}
#search > .detail_search > form > span > input {
    width: 100px;
    height: 30px;
    border: 1px solid #bbb;
    padding: 0 10px;
}
#search > .detail_search > .info {
    padding: 15px;
    background: #f5f5f5;
    color: #737373;
}
#search > .sort {
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
}
#search > .sort > li {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: 1px solid #ddd;
}
#search > .sort > li > a {
    margin-right: 10px;
}
#search > section {}
#search > section > article {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ececec;
}
#search > section > article > ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#search > section > article > ul > li {
    float: left;
    height: 100%;
}
#search > section > article > ul > li:nth-child(1) {}
#search > section > article > ul > li:nth-child(1) > a {
    display: block;
    margin-top: 10px;
}
#search > section > article > ul > li:nth-child(2) {
    margin-top: 35px;
    margin-right: 20px;
}
#search > section > article > ul > li:nth-child(2) > h3 {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}
#search > section > article > ul > li:nth-child(2) > p {}
#search > section > article > ul > li:nth-child(2) > p > a:hover {
    text-decoration: underline;
}
#search > section > article > ul > li:nth-child(3) {
    margin-top: 35px;
    margin-left: 10px;
}

#search > section > article > ul > li:nth-child(3) > span {
   display: inline-block;
   font-size: 0;
   vertical-align: text-bottom;
   width: 55px;
   height: 13px;
   background: url('../img/ico_freeshipping.gif') no-repeat;
}
#search > section > article > ul > li:nth-child(3) > .dis_price {
    margin-bottom: 5px;
}
#search > section > article > ul > li:nth-child(3) > .dis_price > ins {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
}
#search > section > article > ul > li:nth-child(3) > .og_price {
    margin-bottom: 5px;
}
#search > section > article > ul > li:nth-child(3) > .og_price > del {
    font-family: 'Noto Sans KR', sans-serif;
    color: #787f89;
}
#search > section > article > ul > li:nth-child(3) > .og_price > span {
    color: #eb000a;
}
#search > section > article > ul > li:nth-child(4) {
    margin-top: 35px;
    margin-left: 70px;
}
#search > section > article > ul > li:nth-child(4) > h4 {
    margin-bottom: 5px;
}
#search > section > article > ul > li:nth-child(4) > h5 {
    margin-bottom: 120px;
}
#search > .paging {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}
#search > .paging > span > a {
    color: #777;
    font-size: 11px;
}
#search > .paging > span > a:hover {text-decoration: underline;}
#search > .paging > .num > a {
  display: inline-block;
  min-width: 14px;
  margin: 0 2px;
  padding: 8px 9px;
  border: 1px solid #c4c4c4;
  color: #000;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
#search > .paging > .num > a:hover {
    border: 1px solid #454c5f;
    text-decoration: none;
}
#search > .paging > .num > a.on {
  color: #fe434c;
  font-weight: bold;
}
#search > .paging > .prev {}
#search > .paging > .prev {}
#search > .paging > .prev {}
#search > .paging > .prev {}

/* 상세보기 영역*/
#view {
    float: right;
    display: block;
    width: 985px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box; 
    }
#view > nav {
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
#view > nav > h1 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    font-family: 'Noto Sans KR', sans-serif;
}
#view > nav > p  {
    float: right;
    margin-top: -10px;
}
#view > nav > p > span {}
#view > nav > p > strong {
    font-weight: bold;
}
#view > section {
    margin-top: 10px;
}
#view > section > article {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
}
#view > section > .info > div {
    float: left;
    width: 50%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
#view > section > .info > .image > img {
    width: 100%;
}
#view > section > .info > .product > nav {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 12px;
    overflow: hidden;
}
#view > section > .info > .product > nav > h1 {
    float: left;
    color: #1e2732;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}
#view > section > .info > .product > nav > h2 {
    float: right;
    color: #777;
    margin-top: 8px;
    font-family: 'Noto Sans KR', sans-serif;
}
#view > section > .info > .product > p {
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
}
#view > section > .info > .product > nav > h5 > a {
    color: blue;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: underline;
}
#view > section > .info > .product > nav > .og_price {
    margin-bottom: 3px;
}
#view > section > .info > .product > nav > .og_price > del {
    font-size: 25px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #aaa;
}
#view > section > .info > .product > nav > .og_price > span {
    margin-left: 6px;
    font-size: 16px;
    font-weight: bold;
    color: #eb000a;
}
#view > section > .info > .product > nav > .dis_price {
    
}
#view > section > .info > .product > nav > .dis_price > ins {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
}
#view > section > .info > .product .delivery {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    color: #2e8de5
}
#view > section > .info > .product .arrive {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 10px;
    margin-bottom: 8px;
}
#view > section > .info > .product .domestic {
    display: block;
    color: #aaa;
    font-family: 'Noto Sans KR', sans-serif;
}
#view > section > .info > .product .card > span > i {
    display: inline-block;
    width: 30px;
    height: 18px;
    top: 4px;
    font-size: 0;
    vertical-align: text-top;
    margin-right: 2px;
}
#view > section > .info > .product .origin {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}
#view > section > .info > .product .banner {
    width: 100%;
}
#view > section > .info > .product .total {
    overflow: hidden;
    margin-top: 16px;
}
#view > section > .info > .product .total > span {
    float: right;
    display: block;
    width: 100px;
    height: 22px;
    padding: 10px 0 0;
    font-size: 16px;
    line-height: 22px;
    color: #5e636d;
}
#view > section > .notice {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
#view article > nav {
    border-bottom: 1px solid #a4a9b0;
    padding: 6px 0;
    margin-bottom: 12px;
    overflow: hidden;
}
#view article > nav > h1 {
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    color: #1e2732;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 6px;
}
#view > section > article.notice > nav > p{
    margin-top: 6px;
}

#view > section > .detail {
    height: 100%;
    box-sizing: border-box;
}
#view .notice > table {
    width: 100%;
}
#view > section > article.notice > table  tr > td {
    padding: 5px 0 6px 21px;
    font-size: 14px;
    font-family: 'Noto Sans KR', dotum, sans-serif;
}
#view > section > article.notice > table  tr > td:nth-child(1){
    width: 20%;
    color: #222;
}
#view .notice > table:nth-of-type(2) {
    border-top: 1px solid #ececec;
}
#view .notice > .notice {
    margin: 20px 0;
    padding: 21px 26px 20px 19px;
    line-height: 20px;
    font-size: 14px;
    font-family: 'Noto Sans KR', dotum, sans-serif;
    color: #757c8a;
    background: #fafafa;
    border-radius: 2px;
}
#view > section > .review {
    height: 100%;
    box-sizing: border-box;
}
.review > nav {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 12px;
    font-family: 'Noto Sans KR', dotum, sans-serif;
    color: #1e2732;
    font-weight: bold;
    font-size: 1.5em;
}
.review > ul {
    padding: 10px;
    box-sizing: border-box;
}
.review > ul > li {
    padding-top: 16px;
    border-bottom: 1px solid #ececec;
    box-sizing: border-box;
}
.review > ul > li > div{
    overflow: hidden;
}
.review > ul > li > div > h5{
    width: 150px;
    height: 20px;
    font-size: 0px;
    background-image: url(../img/ico_rating_star.png);
    background-repeat: no-repeat;
    text-indent: 86px;
}
.review > ul > li > div > span {
    float: right;
}
.review > ul > li > h3 {
    color: #555;
}
.review > ul > li > p {
    width: 100%;
    height: 60px;
    color: #555;
    font-size: 14px;
    line-height: 19px;
    word-break: break-all;
    margin-top: 10px;
    font-family: 'Noto Sans KR', dotum, sans-serif;
}
#view > section > .paging {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}
#view > section > .paging > span > a {
    color: #777;
    font-size: 11px;
}
#view > section > .paging > span > a:hover {text-decoration: underline;}
#view > section > .paging > .num > a {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    color: #000;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
#view > section > .paging > .num > a:hover {
    border: 1px solid #454c5f;
    text-decoration: none;
}
#view > section > .paging > .num > a.on {
    color: #fe434c;
    font-weight: bold;
}

/* 장바구니 영역 */
#cart {
    float: right;
    width: 985px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
#cart > nav {
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
  }
  #cart > nav > h1 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    font-family: 'Noto Sans KR', sans-serif;
  }
  #cart > nav > p {
    float: right;
    margin-top: -10px;
  }
  #cart > nav > p > strong {
    font-weight: bold;
  }
  #cart form > table {
      width: 100%;
      border-bottom: 1px solid #d3d3d3;
      border-spacing: 0;
      margin-top: 20px;
  }
  #cart > section > form > table > thead > tr > th:nth-child(1) {
      width: 60px;
  }
  #cart > section > form > table > thead > tr > th {
      padding: 12px 0;
      border-top: 2px solid #000;
      border-bottom: 1px solid #d3d3d3;
      background: #fff;
      color: #383838;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0;
  }
  #cart > section > form > table > tbody > tr.empty {
      display: none;
  }
  #cart > section > form > table > tbody > tr:nth-child(2) > td:nth-child(1) {
      width: 60px;
  }
  #cart > section > form > table > tbody > tr:nth-child(2) > td {
      text-align: center;
  }
  #cart > section > form > table > tbody > tr:nth-child(2) > td:nth-child(2) > article {
      overflow: hidden;
  }
  #cart > section > form > table > tbody > tr:nth-child(2) > td:nth-child(2) > article > a {
      float: left;
      display: inline-block;
  }
  #cart > section > form > table > tbody > tr:nth-child(2) > td:nth-child(2) > article > a > img {
      width: 80px;
  }
  #cart > section > form > table td > article > div {
      float: left;
      margin-top: 10px;
  }
  #cart > section > form > table > tbody > tr:nth-child(2) > td:nth-child(2) > article > div > h2 > a {
      font-size: 15px;
      color: #111;
  }
  #cart > section > form > table > tbody > tr:nth-child(2) > td:nth-child(2) > article > div > p {
      text-align: left;
      color: #777;
      margin-top: 4px;
  }
  #cart > section > form > table > tbody > tr:nth-child(2) > td:nth-child(7) {
      color: #ff006c;
      font-weight: bold;
  }
  #cart > section > form > input[name=del] {
      border-color: #bdbdbd;
      border-bottom-color: #828282;
      background: #fafafa;
      color: #4d4d4d;
      padding: 6px 11px;
      border-width: 1px;
      margin-top: 6px;
  }
  #cart > .info {
      float: right;
      width: 360px;
      height: 412px;
      padding: 20px;
      background: #fff;
      border: 1px solid #d3d3d3;
      box-sizing: border-box;
  }
  #cart > .info > h2 {
      width: 100%;
      font-weight: bold;
      font-size: 16px;
      border-bottom: 1px solid #111;
      margin-bottom: 10px;
      padding-bottom: 10px;
      box-sizing: border-box;
      color: #1e1e1e;
  }
  #cart > .info > table {
      width: 100%;
  }
  #cart > .info > table > tbody > tr > td {
      padding: 10px 0;
      font-size: 14px;
      font-weight: bold;
      color: #555;
  }
  #cart > .info > table > tbody > tr > td:last-child {
      text-align: right;
  }
  #cart > div > table > tbody > tr:last-child > td {
      font-size: 20px;
  }
  #cart > div > table > tbody > tr:last-child > td:nth-child(2) {
      color: #ff006c;
      font-size: 20px;
      font-weight: bold;
  }
  #cart > div > input[type=button] {
      width: 100%;
      height: 56px;
      font-size: 26px;
      border-width: 1px;
      border-color: #d81818;
      border-bottom-color: #9e1212;
      background: #ed2f2f;
      color: #fff;
      box-sizing: border-box;
      margin-top: 10px;
  }
/* 주문영역 */
#order {
    float: right;
    width: 985px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
#order > nav {
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
  }
#order > nav > h1 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    font-family: 'Noto Sans KR', sans-serif;
  }
#order > nav > p {
    float: right;
    margin-top: -10px;
  }
#order > nav > p > strong {
    font-weight: bold;
  }
#order form > .product >  table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      border-top: 2px solid #000;
      margin-top: 20px;
  }
#order > section > form > .product > table > tbody > tr {
    border-bottom: 1px solid #d3d3d3;
}
#order > section > form > .product > table > thead > tr > th {
      padding: 12px 0;
      background: #fff;
      color: #383838;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0;
  }
#order > section > form > .product > table > tbody > tr.empty {
      display: none;
  }
#order > section > form > .product > table > tbody > tr > td {
      text-align: center;
  }
#order > section > form > .product > table > tbody > tr > td > article {
      overflow: hidden;
  }
#order > section > form > .product > table > tbody > tr > td > article > a {
      float: left;
      display: inline-block;
  }
#order > section > form > div > table > tbody > tr > td:nth-child(1) > article > a > img {
      width: 80px;
  }
#order > section > form > .product > table td > article > div {
      float: left;
      margin-top: 10px;
  }
#order > section > form > div > table > tbody > tr > td:nth-child(1) > article > div > h2 > a{
      font-size: 15px;
      color: #111;
  }
#order > section > form > .product > table > tbody > tr > td > article > div > p {
      text-align: left;
      color: #777;
      margin-top: 4px;
  }
#order > section > form > .product > table > tbody > tr > td:last-child {
      color: #ff006c;
      font-weight: bold;
  }
#order > section > form > input[name=del] {
      border-color: #bdbdbd;
      border-bottom-color: #828282;
      background: #fafafa;
      color: #4d4d4d;
      padding: 6px 11px;
      border-width: 1px;
      margin-top: 6px;
  }
#order > section > form > section {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
#order > section > form > section > article {
    width: 560px;
    height: auto;
    margin-bottom: 10px;
}
#order > section > form > section > .delivery > h1 {
    font-weight: bold;
    font-size: 14px;
    padding: 6px 0;
    border-bottom: 1px solid #111;
}
#order > section > form > section > .delivery > div {
    padding: 6px;
    box-sizing: border-box;
}
#order > section > form > section > .delivery > div > label {
    display: block;
    padding: 4px 0;
}
#order > section > form > section > .delivery > div > label > input[type=text] {
    color: #555;
    font-weight: bold;
    outline: none;
    padding: 2px 0;
}
#order > section > form > section > .delivery > .user > label > span {
    margin-left: 10px;
    color: #888;
}
#order > section > form > section > .delivery > .address > label > input[type=button] {
    padding: 4px 6px;
    border: 1px solid #ccc;
    background: #f0f4F9;
    border-color: #acc0e0;
    color: #3371c9;
    outline: none;
}
#order > section > form > section > .delivery > .address > label > .addr {
    width: 400px;
}
#order > section > form > section > .discount > h1 {
    font-weight: bold;
    font-size: 14px;
    padding: 6px 0;
    border-bottom: 1px solid #111;
}
#order > section > form > section > .discount > div {
    overflow: hidden;
    padding: 6px;
    box-sizing: border-box;
}
#order > section > form > section > .discount > div > p {
    float: left;
}
#order > section > form > section > .discount > div > label  {
    float: right;
}
#order > section > form > section > .discount > div > label >input[type=text] {
    display: inline-block;
    outline: none;
}
#order > section > form > section > .discount > div > label >input[type=button] {
    padding: 4px 6px;
    border: 1px solid #ccc;
    background: #f0f4F9;
    border-color: #acc0e0;
    color: #3371c9;
    outline: none;
}
#order > section > form > section > .discount > div > span {
    display: block;
    margin-top: 20px;
    color: #888;
}
#order > section > form > section > .payment > h1 {
    font-weight: bold;
    font-size: 14px;
    padding: 6px 0;
    border-bottom: 1px solid #111;
}
#order > section > form > section > .payment > div {
    margin-bottom: 10px;
    padding: 6px;
    box-sizing: border-box;
}
#order > section > form > section > .payment > div > span {
    display: inline-block;
    color: #3a85c8;
    margin: 6px 0;
}
#order > section > form > section > .payment > div > p > label {
    margin-right: 16px;
}
#order > section > form > section > .payment > div > p >label > input {
    margin-right: 4px;
    vertical-align: bottom;
    font-weight: bold;
    outline: none;
    padding: 2px 0;
}
#order > section > form > section > .alert {
    width: 560px;
    background: #f7f7f7;
    padding: 6px;
    padding-left: 20px;
    color: #999;
    box-sizing: border-box;
}
#order > section > form > section > .alert > ul {
    list-style: inherit;
}
#order > section > form > section > .alert > ul > li {
    line-height: 20px;
}
#order > section > form > section > .alert > ul > li > span {
    position: relative;
    left: -6px;
}
#order > section > form > section > .info {
      position: absolute;
      right: 0;
      top: 25px;
      width: 360px;
      height: 412px;
      padding: 20px;
      background: #fff;
      border: 1px solid #d3d3d3;
      box-sizing: border-box;
  }
#order > section > form > section > .info > h2 {
      width: 100%;
      font-weight: bold;
      font-size: 16px;
      border-bottom: 1px solid #111;
      margin-bottom: 10px;
      padding-bottom: 10px;
      box-sizing: border-box;
      color: #1e1e1e;
  }
#order > section > form > section > .info > table {
      width: 100%;
  }
#order > section > form > section > .info > table > tbody > tr > td {
      padding: 10px 0;
      font-size: 14px;
      font-weight: bold;
      color: #555;
  }
#order > section > form > section > .info > table > tbody > tr > td:last-child {
      text-align: right;
  }
#order > section > form > section > div > table > tbody > tr:last-child > td {
      font-size: 20px;
  }
#order > section > form > section > div > table > tbody > tr:last-child > td:nth-child(2) {
      color: #ff006c;
      font-size: 20px;
      font-weight: bold;
  }
#order > section > form > section > div > input[type=button] {
      width: 100%;
      height: 56px;
      font-size: 26px;
      border-width: 1px;
      border-color: #d81818;
      border-bottom-color: #9e1212;
      background: #ed2f2f;
      color: #fff;
      box-sizing: border-box;
      margin-top: 10px;
  }

/* 푸터영역 */
footer {
    width: 100%;
    height: 192px;
    background: #f8f8f8;
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
}
footer > div {
    width: 100%;            
    box-sizing: border-box;
}
footer > .bottom {
    height: 35px;
    border-bottom: 1px solid #e9e9e9;
}
footer > .bottom > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;            
    text-align: center;
}
footer > .bottom > div > a {
    display: inline-block;
    height: 100%;
    line-height: 35px;
    border-left: 1px solid #e9e9e9;
    padding: 0 10px;
    color: #646464;
}
footer > .bottom > div > a:last-child {
    border-right: 1px solid #e9e9e9;
}
footer > .botlogo {
    display: inline-block;
    height: 115px;
    border-bottom: 1px solid #e9e9e9;
}
footer > .botlogo > div {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto; 
    
}
footer > .botlogo > div > p:nth-child(1) {
    display: inline-block;
    margin-top: 30px;
    margin-right: 30px;
}
footer > .botlogo > div > p:nth-child(2) {
    display: inline-block;
    position: absolute;
    top: 30%;
    margin-right: 40px;
    color: #646464;
}
footer > .botlogo > div > p:nth-child(2) > strong {
    display: inline-block; 
    margin-bottom: 5px;
    font-weight: bold;
    color: #000;
}
footer > .botlogo > div > p:nth-child(3) > strong {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000;
}
footer > .botlogo > div > p:nth-child(3) {
    position: absolute;
    display: inline-block;
    left: 45%;
    top: 30%;
    color: #646464;
}
#top {
    position: fixed;
    right: 5%;
    bottom: 0%;
    border: none;
    outline: none;
    cursor: pointer;
}